
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Freehand&family=Khmer&family=Moul&display=swap');
body{
     ul{
            list-style-type: none;
            background-color: black;
            padding: 0;
            margin: 0;
            overflow: hidden;
            
        }
        Li {
            float: left;
        }
        Li a{
            display: block;
            color: white;
            padding: 16px;
            text-decoration: none;
            font-weight: bold;
        }
        Li a:hover{
            background-color: red;
        }
}
.ui{
    color: white;
}
h2{
    color: white;
    background-color: cadetblue;
    border-radius: 20px;
}
.re{
    
    font-family: "Fasthand";
}